@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
  }

@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

*{
    border: var(--red-border); 
}
:root{
    --red-border: 1x solid red;
}

body{
    position: relative;
    margin: 0px;
    height: fit-content ;
    background-color: #121212;
}

.content{
    position: relative;
    width: 100vw;
    height: fit-content;
}

.header{
    border-bottom: 1px gray solid;
    background-color: #1212125e;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left{
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 2vh;
}

.header-right{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 2vh;
}

.header-left>p{
    font-family: Montserrat;
    color: white;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.header-right>p{
    font-family: Montserrat;
    color: white;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.header-main-name-text{
    margin-left: 2vw;
}


.header-contact-text{
    margin-right: 2vw;
}

.fancy-part{
    width: 100vw;
    height: 220vh;
    background-color: #121212;
}

.fancy-container{
    display: flex;
    background-color:#121212;
    gap: 2vw;
    width: fit-content;
    height: fit-content;
    margin-left: 10vw;
}

.first-container{
    position: relative;
    border: var(--red-border);
    max-height: 100%;
    width: 30vw;
}

.text-panel{
    top: 10vh;
    position: sticky;
}

.second-container{
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--red-border);
    max-height: 100%;
    width: 48vw;
}

.fancy-picture-shadow{
    top: 0;
    position: sticky;
    border: var(--red-border);
    width: 40vw;
    height: 5vh;
    background: rgb(18,18,18);
    background: linear-gradient(180deg, rgba(18,18,18,1) 0%, rgba(18,18,18,0.5032387955182073) 58%, rgba(18,18,18,0) 100%);
}

.second-container>img{
    width: 40vw;
    border-radius: 4px;
    margin-top: 3vh ;
}

.third-text-container, .second-text-container, .first-text-container{
    margin: 0px;
    margin-left: 2vw;
}

.first-text-container{
    font-family: Montserrat;
    color: white;
    font-size: 20px;
    font-weight: 10;
    width: fit-content;
    height: fit-content;
    margin-bottom: 1vh;
    margin-top: 10vh;
}

.second-text-container{
    font-family: Inter;
    color: white;
    font-size: 48px;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    margin-bottom: 4vh;

}

.third-text-container{
    font-family: Montserrat;
    font-style: italic;
    color: white;
    font-size: 16px;
    font-weight: thin;
    height: fit-content;
}

.menu-page{
    display: flex;
    gap: 2vw;
}

.menu-page-left{
    width: fit-content;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    width: 20vw;
    height: fit-content;
    margin-left: 2vw;
    margin-top: 3vh;

}

.sidebar-text{
    font-family: Montserrat;
    font-weight: bold;
    cursor: pointer;
}

.menu-page-right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1vh;
    row-gap: 4vh;
    margin-top: 3vh;
}

.item-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    background-repeat:no-repeat ;
    background-size: auto;
    height: 20vh;
    width: 18vw;
    border-radius: 8px 8px 0px 0px;
    border: 1px solid white;
    transition: 200ms ease-in-out;
}

.item-container:hover{
    scale: 1.1;
    z-index: 2;
}

.item-pic{
    position: absolute;
    top: 0;
    z-index: 0;
    height: 20vh;
    width: 18vw;
    border-radius: 8px 8px 0px 0px;
}

.item-text{
    position: relative;
    font-family: Montserrat;
    margin: 0px;
}

.item-name-field{
    display: flex;
    justify-items: flex-end;
    justify-content: center;
    align-items: center;
    width: 18vw;
    height: 3vh;
    position: absolute;
    bottom: -3vh;
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 0 0 5px 5px;
}


.item-price{
    position: absolute;
    right: 0;
    font-weight: 200;
}

.contact-page{
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}

.contact-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    height: 20vh;
    width: 25vw;
    border-radius: 8px;
    border: 1px solid white;
    transition: 200ms ease-in-out;
}

.contact-field:hover{
    scale: 1.1;
}

.contact-field:first-child>p:last-child{
    font-size: 12px;
    font-weight: 400;
}

.contact-field>p:first-child{
    font-weight: bolder;
    font-size: large;
    border-bottom: 1px solid white;
}

.contact-field>p{
    font-family: Inter;
    color: white;
}